$primary: #4c1bc1;
$grey-light: #f2f2f2;
$primary-light: #602bdb;

.radio {
  display: block;
  padding: 3px;
  cursor: pointer;
  width: fit-content;
  position: relative;
  &.disabled_1 {
    cursor: not-allowed;
  }
  &__label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.39px;
    color: var(--radio-text, $primary);
  }

  &__label:before {
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid var(--radio-border, $primary);
    margin-right: 5px;
    box-sizing: border-box;
    top: -1px;
    position: relative;
  }

  &__input:checked + span.active {
    color: var(--radio-primary, $primary);
  }
  &__input:focus + span:before {
    box-shadow: 0 0 2px 1px var(--primary, #add8e6);
  }

  &__input:hover + span:before {
    border-color: var(--radio-secondary, $primary-light);
  }

  &__input:checked + span:before {
    border-color: var(--radio-border, $primary);
    background-image: radial-gradient(
      circle closest-side,
      var(--radio-circle, $primary) 0%,
      var(--radio-circle, $primary) 60%,
      transparent 40%,
      transparent 100%
    );
  }

  &__input:disabled + span {
    opacity: 0.5;
  }

  &__input:disabled:checked + span:before {
    background-image: radial-gradient(
      circle closest-side,
      var(--radio-circle, $primary) 0%,
      var(--radio-circle, $primary) 60%,
      transparent 50%,
      transparent 100%
    );
  }

  &__input {
    visibility: visible !important;
    opacity: 0 !important;
    width: 1px;
    height: 1px;
    position: absolute;
  }

  &.tabs {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 3px;
    .radio__input:checked + span {
      color: var(--radio-tabs-checked-text, $primary);
      border-color: var(--radio-tabs-checked-border, $primary);
      background-position: center;
      transition: background 0.3s;
    }
    .radio__input:focus + span {
      border-color: var(--radio-tabs-focus-border, $primary);
    }
    .radio__input:hover + span {
      border-color: var(--radio-secondary, $primary-light);
    }
    .radio__input:disabled:hover + span {
      border-color: var(--radio-tabs-border, #ccc);
    }
  }
}

.radio__label--tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  padding: 10px 16px;
  background: var(--radio-tabs-bg, #fff);
  color: var(--radio-tabs-text, #ccc);
  border-color: var(--radio-tabs-border, #ccc);
  min-width: 40px;
  &::before {
    display: none;
  }
}

.ripple::before {
  background: var(--radio-ripple, $grey-light);
  display: block;
  content: '';
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards radio-ripple-effect;
}

.ripple-container {
  position: absolute;
}

@keyframes radio-ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.375;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
