$primary: #4c10c1;
$accent: #4bd800;
$text: #353535;
$grey: #e8e8e8;
$inactive-text: rgba(57, 57, 57, 0.5);

.track-slide {
  border: 1px solid var(--slide-border, $grey);
  color: var(--slide-text, $inactive-text);
  position: relative;
}

.track-slide__title {
  margin: 0px;
  font-size: 14px;
}

.track-slide__content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: normal;
}

.track-slide--active {
  border-color: var(--slide-border-active, $accent);
  color: var(--slide-text-active, $text);
}

.track-slide--active::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: var(--slide-dot, $accent);
}

.slider-container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.slider {
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  overflow-x: hidden;
  justify-content: space-between;
}

.slide {
  box-sizing: border-box;
  border-radius: 5px;
  height: auto;
  padding: 20px;
  transition: transform 0.2s ease-out;
}

.slider__btn {
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
  color: var(--slider-btn, $primary);
  width: auto;
  padding: 1px 6px;
  overflow: unset;
  font-weight: normal;
  &:focus {
    outline: none;
  }
  &:disabled,
  &--disabled {
    color: var(--slider-btn-disabled, $grey);
    cursor: not-allowed;
    background-color: transparent;
    border: none;
    &:hover {
      background-color: transparent;
      border: none;
      color: var(--slider-btn-disabled, $grey);
    }
  }
}
